/*
	Custom Login
	Description: Style the WordPress Login page
*/

html {
	body.login {
		min-height: 600px;
		display: flex;
		box-sizing: border-box;
		background: $primary;
		background-image: url("./img/custom/loginbg.jpeg");
		background-size: cover;
		background-position: center;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.language-switcher {
		margin-top: 2rem;
		label {
			display: none !important;
		}
	}

	.login {
		/* Logo */
		h1 {
			margin-top: 1em;
			a {
				padding-bottom: 0;
				width: 200px;
				height: 150px;
				background-size: 200px auto;
				background-position: center;
				display: block;
				margin: 0 auto;
				padding: 0;
			}
		}

		/* Error Message */

		#login_error {
			margin: 0 20px 20px !important;
			background: tomato !important;
			color: #fff;
			box-shadow: none !important;
			border: none;
			a {
				color: #fff;
			}
		}

		/* Other message */
		p {
			&.message {
				margin: 0 20px 20px;
				background: $primary !important;
				color: #fff;
				box-shadow: none !important;
				border: none;
			}
		}

		#nav {
			color: $text !important;
			float: right;
			margin: 0;
			padding: 0 20px 20px 0;
			opacity: 0.7;
			a {
				color: $text !important;
				text-decoration: none !important;
				&:hover {
					color: $text !important;
					text-decoration: underline !important;
				}
			}
		}

		#login {
			margin: 0;
			background: #fff;
			padding: 0;
			min-width: 425px !important;
			overflow: hidden;
			border-radius: 4px;
			box-shadow: 0 5px 15px rgba(black, 0.2);
		}

		#backtoblog {
			float: left;
			margin: 0;
			padding: 0 0 20px 20px;
			opacity: 0.7;
			a {
				color: $text !important;
				text-decoration: none;
				&:hover {
					color: $text !important;
					text-decoration: underline;
				}
			}
		}

		form {
			background: none;
			padding: 20px;
			margin-top: 0;
			-webkit-box-shadow: none;
			box-shadow: none;
			border: none;
			label {
				color: $text;
				position: relative;
				content: "";
				display: block;
			}

			input[type="text"],
			input[type="password"] {
				background: $lightgrey;
				border: none;
				border-bottom: 1px solid #fff;
				-webkit-box-shadow: none;
				box-shadow: none;
				color: $text;
				padding: 15px 10px;
				margin-top: 5px;
				font-size: 16px;
			}

			label[for="user_login"]:before {
				content: "\f110";
				font-family: dashicons;
				font-size: 20px;
				position: relative;
				top: 4px;
				margin-right: 7px;
			}
			label[for="user_pass"]:before {
				content: "\f160";
				font-family: dashicons;
				font-size: 20px;
				position: relative;
				top: 4px;
				margin-right: 7px;
			}

			p.submit {
				display: flex;
				justify-content: flex-end;
				#wp-submit {
					font-size: 18px;
					font-weight: 600;
					text-transform: uppercase;
					letter-spacing: 1px;
					padding: 10px 40px;
					width: 100%;
					color: #fff;
					text-decoration: none;
					border-radius: 0;
					background: $primary;
					border: none;
					cursor: pointer;
					text-shadow: none;
					margin-top: 15px;
					height: auto;
					box-shadow: none !important;
					border-radius: 0px;
					&:hover {
						background: lighten($primary, 5%);
					}
				}
			}
		}

		.button.wp-hide-pw {
			top: 15%;
		}
	}

	.forgetmenot {
		display: none;
	}
}
