.latest-document-item {

    a,
    h3 {
        font-size: 2.6rem;
        color: #007D7D;
        font-weight: 400;
        margin-bottom: 0;
    }

    span {
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        color: #829AB1;
    }


}