// Font Styling
$primaryFont: 'franklin-gothic-urw', sans-serif;
$secondaryFont: 'franklin-gothic-urw', sans-serif;
$baseFontColor: #324550;

// Main Colours
$primary: #383536;
$secondary: #e5e3de;
$red: #ed2024;

// Misc Colours
$lightgrey: #f5f5f5;
$text: $baseFontColor;

// Transitions
$smooth: cubic-bezier(.25,1,.75,1);